/* Global Styles */
* {
    font-family: 'EB Garamond', serif;
}

body {
    background-color: #012030;
}

/* Introductory Text Styles */
div {
    width: 40%;
    margin: 100px auto;
}
div p {
    color: #FAF0E6;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
}

/* Click Me Button Styles */
.clickme {
    display: block;
    margin: 0 auto;
    border: none;
    width: 150px;
    height: 50px;
    background-color: #13678A;
    box-shadow: 0 4px 0 #0E4D66;
    color: #E0FFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.clickme:hover {
    background-color: #0E4D66;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
.clickme:active {
    background-color: #0E4D66;
    box-shadow: 0 0 0 #0E4D66;
    transform: translateY(4px);
    width: 150px;
    height: 50px;
    border: none;
}


/* House Container Styles */
.housecontainer {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.housecontainer img {
    width: 200px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
}


/* Responsive Design for screens 1206px and smaller */
@media (max-width: 1206px) {
    div {
        width: 85%;
        margin: 60px auto;
    }
    div p {
        font-size: 1.6em;
        line-height: 1.4em;
    }
    .clickme {
        width: 240px;
        height: 85px;
        font-size: 1.5em;
        margin-top: 75px;
        box-shadow: 0 4px 0 #0E4D66;
    }
    
    .clickme:active {
        width: 240px;
        height: 85px;
        transform: translateY(4px);
        box-shadow: 0 0 0 #0E4D66;
        border: none;
        margin-top: 75px;
    }
    .housecontainer {
        width: 95%;
        margin: 30px auto;
        padding: 10px;
    }
    .housecontainer img {
        width: 100px;
        height: 100px;
        margin: 4px;
    }

}



